@charset "UTF-8";
/* START FONT FAMILY*/
/* END FONT FAMILY*/
/* line 9, ../sass/aglow.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/aglow.scss */
body {
  font-family: verdana, "bitstream vera sans", "dejavu sans", "liberation sans", geneva, sans-serif;
  font-size: 100%;
  line-height: 1.125em;
  width: 100%;
}

/* line 21, ../sass/aglow.scss */
.body {
  border: solid red 1px;
  margin: 0 auto;
  width: 62.5em;
}

/* line 27, ../sass/aglow.scss */
.main_header {
  border: solid blue 1px;
  height: 60em;
}

/* line 35, ../sass/aglow.scss */
.quick_access {
  width: 21em;
  float: right;
  border: solid yellow 1px;
}

/* line 41, ../sass/aglow.scss */
.quick_access_links {
  font-size: .1em;
  margin-bottom: 40px;
}
/* line 45, ../sass/aglow.scss */
.quick_access_links > li {
  display: inline;
  list-style: none;
  border-right: solid red 1px;
  padding-right: 10px;
  padding-left: 10px;
}
/* line 53, ../sass/aglow.scss */
.quick_access_links a {
  text-decoration: none;
  color: #404040;
}
/* line 58, ../sass/aglow.scss */
.quick_access_links .last_link {
  border: none;
  padding-right: 0;
}

/* line 65, ../sass/aglow.scss */
.customer_care_number {
  color: red;
}

/* line 69, ../sass/aglow.scss */
.forms {
  float: right;
  border: solid green 1px;
}
/* line 73, ../sass/aglow.scss */
.forms > a {
  text-decoration: none;
  font-size: .7em;
  color: #404040;
  background: url(../imgs/cart.png) transparent no-repeat left center;
  padding-left: 24px;
}

/* line 82, ../sass/aglow.scss */
.search_bar {
  padding: .5em;
  font-size: .1em;
}

/* line 88, ../sass/aglow.scss */
.submit_btn {
  padding: .7em;
  font-size: .3em;
}

/* line 97, ../sass/aglow.scss */
.main_nav {
  border: solid 1px blue;
}
/* line 100, ../sass/aglow.scss */
.main_nav ul {
  border: solid 1px green;
}
/* line 103, ../sass/aglow.scss */
.main_nav ul li {
  list-style: none;
  display: inline;
}
/* line 107, ../sass/aglow.scss */
.main_nav ul li a {
  text-decoration: none;
}

/* line 114, ../sass/aglow.scss */
.logo {
  display: block;
  margin: 0 auto;
  border: solid 1px red;
  margin-top: 7em;
}
