@charset "UTF-8";
/* START FONT FAMILY*/
/* END FONT FAMILY*/
/* line 7, ../sass/aglow_2.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 12, ../sass/aglow_2.scss */
body {
  font-family: verdana, "bitstream vera sans", "dejavu sans", "liberation sans", geneva, sans-serif;
  font-size: 100%;
  line-height: 1.125em;
}

/* line 18, ../sass/aglow_2.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: verdana, "bitstream vera sans", "dejavu sans", "liberation sans", geneva, sans-serif;
  margin: 0;
}

/* line 23, ../sass/aglow_2.scss */
p {
  font-family: verdana, "bitstream vera sans", "dejavu sans", "liberation sans", geneva, sans-serif;
}

/* line 27, ../sass/aglow_2.scss */
.column, .colums {
  padding-left: 0.8em;
  padding-right: 0.8em;
}

/* line 34, ../sass/aglow_2.scss */
.large-5.columns.one {
  float: right;
  border: red solid 1px;
  padding: 0;
}

/* line 40, ../sass/aglow_2.scss */
.quick_access_links {
  font-size: .1em;
  float: right;
  margin: 0;
}
/* line 45, ../sass/aglow_2.scss */
.quick_access_links li {
  display: inline;
  list-style: none;
  border-right: solid red 1px;
  padding-right: 10px;
  padding-left: 10px;
}
/* line 53, ../sass/aglow_2.scss */
.quick_access_links a {
  text-decoration: none;
}
/* line 57, ../sass/aglow_2.scss */
.quick_access_links .last_link {
  border: none;
  padding-right: 0;
}

/* line 63, ../sass/aglow_2.scss */
.customer_care_number {
  color: red;
}

/* line 72, ../sass/aglow_2.scss */
.top-bar {
  background: none;
  height: auto;
  border: solid red 1px;
}
/* line 77, ../sass/aglow_2.scss */
.top-bar .logo {
  border: solid blue 1px;
}
/* line 81, ../sass/aglow_2.scss */
.top-bar .logo a > img {
  width: 100%;
  max-width: 78px;
  height: 92px;
}
/* line 89, ../sass/aglow_2.scss */
.top-bar .toggle-topbar.menu-icon {
  border: solid yellow 1px;
}
/* line 92, ../sass/aglow_2.scss */
.top-bar .toggle-topbar.menu-icon > a {
  color: red;
}

@media only screen and (max-width: 40em) {
  /* line 104, ../sass/aglow_2.scss */
  .large-5.columns.one {
    float: right;
    border: red solid 1px;
  }

  /* line 109, ../sass/aglow_2.scss */
  .quick_access_links {
    font-size: .1em;
    float: right;
    margin: 0;
  }
  /* line 114, ../sass/aglow_2.scss */
  .quick_access_links li {
    display: inline;
    list-style: none;
    border-right: solid red 1px;
    padding-right: 10px;
    padding-left: 10px;
  }
  /* line 122, ../sass/aglow_2.scss */
  .quick_access_links a {
    text-decoration: none;
  }
  /* line 126, ../sass/aglow_2.scss */
  .quick_access_links .last_link {
    border: none;
    padding-right: 0;
  }

  /* line 132, ../sass/aglow_2.scss */
  .customer_care_number {
    color: red;
  }

  /* line 136, ../sass/aglow_2.scss */
  .logo {
    border: solid blue 1px;
    width: 25%;
  }
  /* line 142, ../sass/aglow_2.scss */
  .logo a > img {
    width: 100%;
    max-width: 78px;
    height: 92px;
  }

  /* line 151, ../sass/aglow_2.scss */
  .toggle-topbar.menu-icon {
    border: solid yellow 1px;
    display: block;
  }
  /* line 155, ../sass/aglow_2.scss */
  .toggle-topbar.menu-icon > a {
    color: red;
  }
}
