/*
    these are just the default styles used in the Cycle2 demo pages.  
    you can use these styles or any others that you wish.
*/
/* set border-box so that percents can be used for width, padding, etc (personal preference) */
/* line 10, ../sass/slider.scss */
.cycle-slideshow, .cycle-slideshow * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/slider.scss */
.cycle-slideshow {
  width: 100%;
  max-width: 62.5em;
  max-height: 400px;
  padding: 0px;
  position: relative;
  background: url(http://malsup.github.com/images/spinner.gif) 50% 50% no-repeat;
  overflow: hidden;
  margin-bottom: 20px;
}

/* slideshow images (for most of the demos, these are the actual "slides") */
/* line 19, ../sass/slider.scss */
.cycle-slideshow img {
  /* 
  some of these styles will be set by the plugin (by default) but setting them here
  helps avoid flash-of-unstyled-content
  */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  display: block;
}

/* in case script does not load */
/* line 29, ../sass/slider.scss */
.cycle-slideshow img:first-child {
  position: static;
  z-index: 100;
}

/* pager */
/* line 34, ../sass/slider.scss */
.cycle-pager {
  text-align: center;
  width: 100%;
  z-index: 500;
  position: absolute;
  top: 380px;
  overflow: hidden;
}

/* line 37, ../sass/slider.scss */
.cycle-pager span {
  font-family: arial;
  font-size: 50px;
  width: 25px;
  height: 16px;
  display: inline-block;
  color: #ddd;
  cursor: pointer;
}

/* line 41, ../sass/slider.scss */
.cycle-pager span.cycle-pager-active {
  color: #d17a00;
}

/* line 42, ../sass/slider.scss */
.cycle-pager > * {
  cursor: pointer;
}

/* caption */
/* line 46, ../sass/slider.scss */
.cycle-caption {
  position: absolute;
  color: white;
  bottom: 15px;
  right: 15px;
  z-index: 700;
}

/* overlay */
/* line 50, ../sass/slider.scss */
.cycle-overlay {
  font-family: tahoma, arial;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 600;
  background: black;
  color: white;
  padding: 15px;
  opacity: .5;
}

/* prev / next links */
/* line 58, ../sass/slider.scss */
.cycle-prev, .cycle-next {
  position: absolute;
  top: 0;
  width: 30%;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 800;
  height: 100%;
  cursor: pointer;
}

/* line 59, ../sass/slider.scss */
.cycle-prev {
  left: 0;
  background: url(http://malsup.github.com/images/left.png) 50% 50% no-repeat;
}

/* line 60, ../sass/slider.scss */
.cycle-next {
  right: 0;
  background: url(http://malsup.github.com/images/right.png) 50% 50% no-repeat;
}

/* line 61, ../sass/slider.scss */
.cycle-prev:hover, .cycle-next:hover {
  opacity: .7;
  filter: alpha(opacity=70);
}

/* line 63, ../sass/slider.scss */
.disabled {
  opacity: .5;
  filter: alpha(opacity=50);
}

/* display paused text on top of paused slideshow */
/* line 67, ../sass/slider.scss */
.cycle-paused:after {
  content: 'Paused';
  color: white;
  background: black;
  padding: 10px;
  z-index: 500;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  opacity: .5;
  filter: alpha(opacity=50);
}

/* 
    media queries 
    some style overrides to make things more pleasant on mobile devices
*/
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  /* line 80, ../sass/slider.scss */
  .cycle-slideshow {
    width: 200px;
  }

  /* line 81, ../sass/slider.scss */
  .cycle-overlay {
    padding: 4px;
  }

  /* line 82, ../sass/slider.scss */
  .cycle-caption {
    bottom: 4px;
    right: 4px;
  }
}
