@charset "UTF-8";

@import "font_family";

$font: $verdana;



body{
	font-family: $font;
}

h1, h2, h3, h4, h5, h6{
	font-family: $font;
	margin: 0;
}

p{
	font-family: $font;
}

.row.one{
	.panel{
		.large-1.columns.one{
			float: right;
		}
	}

}

