@charset "UTF-8";

@import "font_family";


$border:solid 1px;
$font: $verdana;
$font_color: #d3d3d3;
$top_hdr_color: #2d2b2c;
$menu_toggle_color: #CACACA;


*{
	margin: 0;
	padding: 0;
}

body{
	font-family: $font;
	font-size: 100%;
	line-height: 1.125em;
}

h1, h2, h3, h4, h5, h6{
	font-family: $font;
	margin: 0;
}

p{
	font-family: $font;
}

.column, .colums{
	padding-left: 0.8em;
	padding-right: 0.8em;
}

// START QUICK ACCESS STYLES //

.large-12.columns.one{
	background-color: $top_hdr_color; 
}
	
.large-5.columns.one{
	float: right;
	padding: 0;
	width: 80%;
	border: $border red;
}

.quick_access_links{
	font-size: .75em;
	float: right;
	padding: 1em 1em;
	margin:0;
	
		li{
			display: inline;
			list-style: none;
			padding: 1em 1em 1em 1em;
			
			>a{
			text-decoration: none;
			color: $font_color;
			font-weight:bold;
			}
		}
		
		.login{
			background: url(../imgs/login.png) transparent no-repeat left center;
			padding-left: 22px;
			margin-left: 5px;
			padding-bottom: 10px;
		}
		
		.find_store{
			background: url(../imgs/location.png) transparent no-repeat left center;
			padding-left: 26px;
			margin-left: 5px;
			padding-bottom: 10px;
		}
		
		.customer_care{
			background: url(../imgs/phone.png) transparent no-repeat left center;
			padding-left:30px;
			margin-left: 5px;
			padding-bottom: 10px;
		}
		
		.last_link{
			border: none;
			padding-right: 0;
			background: url(../imgs/shopping.png) transparent no-repeat left center;
			padding-left: 30px;
			margin-left: 5px;
			padding-bottom: 10px;
		}
}

.customer_care_number{
	color:#ffffff;
}

// END QUICK ACCESS STYLES //


// START NAV STYLES //

.large-4.colums.center{
	margin: 0 auto;
	border: $border red;
	
	>img{
		margin: 0 auto;
		-ms-interpolation-mode: bicubic;
		display: block;
		width: 10em;
	}
}

.top-bar{
	background: none;
}

.top-bar-section{
	margin-left: 17em;
}

.right{
	float: none !important;
}

/*.top-bar{
	background: none;
	height:auto;
	border: solid red 1px;

	.logo{
	border: solid blue 1px;
	
		a{
			>img{
				width: 100%;
				max-width:78px; 
				height:92px;
			}
		}
	}
		
	.toggle-topbar.menu-icon{
	border: solid yellow 1px;
	
		>a{
			color:red;
		}
	}
}*/


// END NAV STYLES //

@media only screen and (max-width: 40em) {

	
	// START TOGGLE MENU STYLES //
	
	.top-bar .toggle-topbar.menu-icon a{
		color: $top_hdr_color;
	}
	
	.top-bar .toggle-topbar.menu-icon a::after{
		box-shadow: 0 10px 0 1px $top_hdr_color, 0 16px 0 1px $top_hdr_color, 0 22px 0 1px $top_hdr_color;
	}
	
	// END TOGGLE MENU STYLES //
	
	// START QUICK MENU STYLES //
	
	.large-12.columns.one{
		display: none;
	}

	// END QUICK MENU STYLES //

}


@media only screen and (min-width: 40.063em) and (max-width: 64em) {

	// START QUICK MENU STYLES //
	
	.large-12.columns.one{
		display: none;
	}

	// END QUICK MENU STYLES //



}